{% extends "base.html" %}
{%load static%}
{% block page_title %}Car Shop{% endblock %}

{% block page_content %}
<div class="container">
<div class="jumbotron text-center">
      <h1>Car Shop</h1>
      <h3>Welcome to the car garage to store and fix your cars!! </h3>
      <br>
      <br><div class="btn-group btn-group-justified btn-group-lg">
        
        <a href="{%url 'allcars'%}" class="btn btn-primary">Cars</a>
  
        <a href="{%url 'alldrivers'%}" class="btn btn-primary">Drivers</a>
    
        <a href="{%url 'adddriver'%}"class="btn btn-primary">Add Driver</a>
    
        <a href="{%url 'addcar'%}" class="btn btn-primary">Add Car</a>
    
      </div>
      <br>
      <br>
      <br>
 
</div>
</div>



{% endblock %}
